
    <div class="gallery">
                        <a target="_blank" href="sit.avif" >
                          <img src="assets/sit.avif" align="left">
                        </a>
                        <div class="desc" style="margin-bottom: 11%;">
                            <b>Wonderla Holidays Limited </b><br>Wonderla Holidays Limited operates three largest amusement parks in Kochi, Bengaluru and Hyderabad; and the Wonderla resort in Bengaluru under the brand name Wonderla.</div>
                      </div>
    <div class="gallery">
                        <a target="_blank" href="talk.avif" >
                          <img src="assets/talk.avif" align="left">
                        </a>
                        <div class="desc" style="margin-bottom: 11%;">
                            <b>Wonderla, Kochi </b><br>Wonderla Amusement Park in Kochi, previously known as Veega Land, is located 15 km from Kochi city and is home to 50+ amusement rides. Spread over 30 acres of landscaped space and built to international standards Wonderla Kochi is impeccably maintained. We have provided a joyful experience to over 1 crore visitors over the past 17 years.

Wonderla Kochi is the first park in India to get an ISO14001 certificate for eco-friendliness and OHSAS 18001 certificate for safety.</div>
                      </div>
    <div class="gallery">
                        <a target="_blank" href="swing.avif" >
                          <img src="assets/swing.avif" align="left">
                        </a>
                        <div class="desc" style="margin-bottom: 11%;">
                            <b>Wonderla, Bengaluru</b><br>Wonderla - Bengaluru India's favourite amusement park is located on Bengaluru - Mysore Road, just 28 kms from Bengaluru city. Spread across 82 acres of landscaped garden, Wonderla Bengaluru has 61 thrill packed rides offering a monster dose of entertainment and fun for all age groups. Wonderla - Bengaluru has thrilled over 7.5 million people visitors since our opening in 2005.

In 2012, Wonderla Bengaluru added a resort inside the amusement park - making it the first amusement park in India to have a resort built right inside it.</div>
                      </div>
    <div class="gallery">
                        <a target="_blank" href="hyd.avif" >
                          <img src="assets/hyd.avif" align="left">
                        </a>
                        <div class="desc" style="margin-bottom: 11%;">
                            <b>Wonderla , Hyderabad</b><br>Wonderla has now marked its presence in Hyderabad to unfold an all-new chapter of thrill. Brace yourself, Wonderla Amusement Park, Hyderabad will take you on a ride you have never experienced before. Our 43 world-class rides at the park will mesmerize you and will leave you asking for more. Wonderla Hyderabad offers the perfect package for all age groups with its 25 land-based rides and 18 water-based attractions. Soak and splash in exhilarating water rides, feel the rush of adrenaline on high-thrill rides, and get pampered with the finest facilities in leisure for the whole family.</div>
                      </div>
    <div class="gallery">
                        <a target="_blank" href="bar.avif" >
                          <img src="assets/bar.avif" align="left">
                        </a>
                        <div class="desc" style="margin-bottom: 11%;">
                            <b>Wonderla Resort, Bengaluru</b><br>The Wonderla resort in Bengaluru is the first of its kind luxury resort in India with the Wonderla Amusement Park right in its backyard - making it an ideal place to extend your Holiday.

A holiday resort, as well as a business hotel on Mysore Road, the facilities here, include luxurious rooms, fully equipped conference halls, a resto-o-bar called Red Ice, a fine dining restaurant, heated pool, recreation area, and of course, the Wonderla Amusement park in its backyard!</div>
                      </div>



                      <p [ngStyle]="{'text-align':'center'}">
                        <a href= "ticket" routerLink="ticket">
                             <img src="assets/img/subscribe.png" width="400px" height="100px" >
                         </a>
                     </p>
                 
 <h6 [ngStyle]="{'text-align':'center'}">Thank You , Visit again !!!</h6>
 <main>
 <h3 [ngStyle]="{'text-align':'center'}">Contact Us!</h3>
 <address >
 <div [ngStyle]="{'text-align':'center'}">Bangalore, Karnataka</div>
 <div [ngStyle]="{'text-align':'center'}">Phone: <a href="tel:+91 9876543210">+91-9876543210</a></div>
 <div [ngStyle]="{'text-align':'center'}">Email: <a href="mailto:wonderla@gmail.com">wonderla@gmail</a></div>
                   
 </address>
 </main>