
            <marquee style="color: red; font-size:40px;"> Welcome to wonderla Resorts and Water Park ........</marquee>
            <h2>Wonderla Water Park</h2>
            <p style="font-size: 25px;">Unique indoor & outdoor rides & shows make this India's favourite themed entertainment destination.</p>
            <p>The perfect destination for friends and family.With thrilling indoor and outdoor roller coasters, several of India's first thematic shows & attractions, a Grand Island Adventure Parade, and more, Island Adventure Theme Park has it all. </p>
            <h3><b>About Wonderla Water Park :</b></h3>      
            <div class="row">
            <div class="column">
            <img src="/assets/hyd.avif" alt="hyd" style="width:100%">
                <h2 [ngStyle]="{'text-align':'center'}">The wonderla in Hyderabad </h2>
             </div>
            <div class="column">
            <img src="/assets/bang.jpg" alt="bang" style="width:100%">
            
                <h2 [ngStyle]="{'text-align':'center'}">The wonderla in Bangalore </h2>
           
                </div>
            <div class="column">
            <img src="/assets/kochi.avif" alt="kochi" style="width:100%">
            
                <h2 [ngStyle]="{'text-align':'center'}">The wonderla in Kochi </h2>
          

            </div>
            </div>
                
                    <h1 [ngStyle]="{'text-align':'center'}">What we have</h1>
                
                  <div class="gallery">
                    <a target="_blank" href="water1.jpg">
                      <img src="/assets/img/water1.jpg" align="right">
                    </a>
                    <div class="desc"><b>LOOPY WOOPY </b><br> Note: Riders strictly need to be in one-piece swimwear for this ride.</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="water2.jpg">
                      <img src="/assets/img/water2.jpg"  align="left">
                    </a>
                    <div class="desc"><b>SWIMMING POOL</b> <br> The JoyFul Swimming pool</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="water3.jpg" >
                      <img src="/assets/img/water3.jpg" align="right">
                    </a>
                    <div class="desc"><b>Zip Zap Zoom </b><br>A thrilling high-speed mat racer that sends you through enclosed looping Aqua Tubes</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="water4.jpg" >
                      <img src="/assets/img/water4.jpg" align="left">
                    </a>
                    <div class="desc"><b>SWIRL WHIRL </b><br>This exhilarating ride takes you through a thrilling series of twists.</div>
                  </div>
    
                  <div class="gallery">
                    <a target="_blank" href="1.jpg" >
                      <img src="/assets/img/island.jpg" alt="Cinque Terre" align="right">
                    </a>
                    <div class="desc">
                        <b>Nitro</b><br>Ride India's biggest, craziest roller coaster!</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="2.jpg" >
                      <img src="/assets/img/2.jpg" align="left">
                    </a>
                    <div class="desc" style="margin-bottom: 11%;">
                        <b>Lanscap View </b><br>Enjoy the moment with your Friends & Family members</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="4.jpg" >
                      <img src="/assets/img/6.jpg" align="right">
                    </a>
                    <div class="desc"><b>SWIRL WHIRL </b><br>This exhilarating ride takes you through a thrilling series of twists.</div>
                  </div>
                  
                  <div class="gallery">
                    <a target="_blank" href="5.jpg" >
                      <img src="/assets/img/5.jpg"  align="left">
                    </a>
                    <div class="desc"><b>Zip Zap Zoom </b><br>A thrilling high-speed mat racer that sends you through enclosed looping Aqua Tubes</div>
                  </div>
    
                  <br style="margin: 12%;">
                  <hr>
                  
                    <p [ngStyle]="{'text-align':'center'}">
                       <a href="#">
                            <img src="assets/img/subscribe.png" width="400px" height="100px" >
                        </a>
                    </p>
                
<h6 [ngStyle]="{'text-align':'center'}">Thank You , Visit again !!!</h6>
<main>
<h3 [ngStyle]="{'text-align':'center'}">Contact Us!</h3>
<address >
<div [ngStyle]="{'text-align':'center'}">Bangalore, Karnataka</div>
<div [ngStyle]="{'text-align':'center'}">Phone: <a href="tel:+91 9876543210">+91-9876543210</a></div>
<div [ngStyle]="{'text-align':'center'}">Email: <a href="mailto:wonderla@gmail.com">wonderla@gmail</a></div>
                  
</address>
</main>
