<h2> Wonderla Water Park</h2>

        

        <div class="gallery">
                <a target="_blank" href="water1.jpg">
                  <img src="assets/img/water1.jpg" width="60%" height="40%" align="left">
                </a>
                <div class="desc"><b>LOOPY WOOPY </b><br> Note: Riders strictly need to be in one-piece swimwear for this ride.</div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="water2.jpg">
                  <img src="assets/img/water2.jpg" width="60%" height="40%" align="right">
                </a>
                <div class="desc"><b>SWIMMING POOL</b> <br> The JoyFul Swimming pool</div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="water3.jpg">
                  <img src="assets/img/water3.jpg" width="60%" height="40%" align="left">
                </a>
                <div class="desc"><b>Zip Zap Zoom </b><br>A thrilling high-speed mat racer that sends you through enclosed looping Aqua Tubes</div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="water4.jpg">
                  <img src="assets/img/water4.jpg"  width="60%" height="40%" align="right">
                </a>
                <div class="desc"><b>SWIRL WHIRL </b><br>This exhilarating ride takes you through a thrilling series of twists.</div>
              </div>
              <br style="margin: 11%;">
              <hr>
              <h2> Island Adventure_Park</h2>

              <div class="gallery">
                <a target="_blank" href="1.jpg">
                  <img src="assets/img/adventure/1.jpg" alt="Cinque Terre" width="60%" height="40%" align="left">
                </a>
                <div class="desc">
                    <b>Nitro</b><br>Ride India's biggest, craziest roller coaster!</div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="2.jpg">
                  <img src="assets/img/adventure/2.jpg" width="60%" height="40%" align="right">
                </a>
                <div class="desc">
                    <b>Scream Machine</b><br>Swing 'n spin 'n scream aboard this gigantic rotating pendulum attraction!
                    </div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="4.jpg">
                  <img src="assets/img/adventure/4.jpg" width="60%" height="40%" align="left">
                </a>
                <div class="desc">
                   <b> Mambo Chai Chama – Crazy Tea Cups</b><br>Join a crazy tea party in a classic Tea Cups experience!
                    </div>
              </div>
              
              <div class="gallery">
                <a target="_blank" href="5.png">
                  <img src="assets/img/water4.jpg" width="60%" height="40%" align="right">
                </a>
                <div class="desc">
                    <b>The Magic Carousel</b><br>Gallop smoothly aboard this classic entertainer!</div>
              </div>

              <br style="margin: 10%;">
              <br>
              <hr>
                <p [ngStyle]="{'text-align':'center'}">
                    <a href="subscribe.html"><img src="assets/img/subscribe.png" width="400px" height="100px"></a>
                </p>
                <h6 [ngStyle]="{'text-align':'center'}">Thank You , Visit again !!!</h6>
                <main>
                <h3 [ngStyle]="{'text-align':'center'}">Contact Us!</h3>
                <address >
                <div [ngStyle]="{'text-align':'center'}">Bangalore, Karnataka</div>
                <div [ngStyle]="{'text-align':'center'}">Phone: <a href="tel:+91 9876543210">+91-9876543210</a></div>
                <div [ngStyle]="{'text-align':'center'}">Email: <a href="mailto:wonderla@gmail.com">wonderla@gmail</a></div>
                                  
                </address>
                </main>
