 <img src="assets/12.jpg" width="20%" height="10%">
<br>
    <h1>Entry fees for Wonderla Resorts and Wonderla Water Park.</h1>

    <hr>
                    <h2 [ngStyle]="{'text-align':'center'}">*** Entry Fees for Wonderla Water Park ***</h2>
    <hr>
    <table>
        <tr>
          <th>Sr No</th>
          <th>Customers</th>
          <th>Adult</th>
          <th>Child</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Students</td>
          <td>800/-</td>
          <td>500/-</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Seniors Citizens</td>
          <td>500/-</td>
          <td>---</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Others</td>
          <td>1000/-</td>
          <td>700/-</td>
        </tr>
      </table>
      <hr>
      <h2 [ngStyle]="{'text-align':'center'}">*** Entry Fees for Wonderla Resorts</h2>
      <hr>
    <table>
        <tr>
          <th>Sr No</th>
          <th>Customers</th>
          <th>Adult</th>
          <th>Child</th>
        </tr>
       
        <tr>
          <td>3</td>
          <td>Students</td>
          <td>800/-</td>
          <td>500/-</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Seniors Citizens</td>
          <td>500/-</td>
          <td>---</td>
        </tr>
        <tr>
          <td>5</td>
          <td>others
          <td>1000/-</td>
          <td>700/-</td>
        </tr>
      </table>
      <hr>
<p style="font-size: 20px; padding-left: 39%;"><b [ngStyle]="{'text-align':'center'}"> Book your tickets now </b><br><a href="login"><img src="assets/img/subscribe.png" width="400px" height="100px"></a></p>
   
  <br style="margin: 2%;">
